<footer>
  <div class="contact-info">
    <div class="number"><i class="fa-solid fa-phone"></i> 012 345 6789</div>
    <div class="location">
      <i class="fa-solid fa-location-dot"></i> Petrich, Bulgaria
    </div>
    <div class="email">
      <i class="fa-solid fa-envelope"></i> kristiqn3456@gmail.com
    </div>
  </div>
  <div class="copyright">
    <span>&copy; 2023 LinguaLearn. All rights reserved.</span>
    <span
      >Designed & Developed by
      <a href="https://github.com/kristiyanpts">Kristiyan Petsanov</a></span
    >
  </div>
</footer>
