<section class="teachers-page">
  <div class="teachers-info">
    <img src="/assets/teacher-info.png" alt="" srcset="" />
    <div class="info">
      <div class="title">Meet the best teachers there is</div>
      <div class="desc">
        LinguaLearn has the best teachers there could be to help you improve
        your language skills and learn new things. You won't be disappointed
        from their teaching. Are you a qualified language teacher? If you are
        and you want to join our team and make peoples dream come true, click
        the button below!
      </div>
      <a routerLink="/user/register" *ngIf="!isLoggedIn">Start Teaching</a>
    </div>
  </div>
  <div class="teachers">
    <div class="title">Our Teachers</div>
    <div class="filters">
      <form
        class="filter-search"
        #searchForm="ngForm"
        (ngSubmit)="searchTeacher(searchForm)"
      >
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search by name"
          ngModel
        />
        <button type="submit">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </div>
    <div class="teacher-items" *ngIf="teachers.length > 0">
      <ng-container *ngFor="let teacher of teachers">
        <app-teacher-item [teacherData]="teacher" />
      </ng-container>
    </div>
    <div class="no-teachers" *ngIf="teachers.length == 0">
      There are currently no teachers registered. <br />
      Check back later!
    </div>
  </div>
</section>
