<div
  class="courses"
  [ngStyle]="{ 'padding-top': !showHeader ? '30px' : '0px' }"
>
  <app-courses-header style="width: 100%" *ngIf="showHeader" />

  <div class="title">{{ title }}</div>
  <div class="filters" *ngIf="showHeader">
    <form
      class="filter-search"
      #searchForm="ngForm"
      (ngSubmit)="searchCourse(searchForm)"
    >
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search by name"
        ngModel
        required
      />
      <button type="submit">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </form>
    <div class="separator">OR</div>
    <div class="level-filters">
      <button
        (click)="sortCourses('all')"
        [ngClass]="{ 'active-filter': selectedFilter == 'all' }"
      >
        All Courses
      </button>
      <button
        (click)="sortCourses('entry')"
        [ngClass]="{ 'active-filter': selectedFilter == 'entry' }"
      >
        Entry Level
      </button>
      <button
        (click)="sortCourses('mid')"
        [ngClass]="{ 'active-filter': selectedFilter == 'mid' }"
      >
        Mid Level
      </button>
      <button
        (click)="sortCourses('advanced')"
        [ngClass]="{ 'active-filter': selectedFilter == 'advanced' }"
      >
        Advanced Level
      </button>
      <button
        (click)="sortCourses('expert')"
        [ngClass]="{ 'active-filter': selectedFilter == 'expert' }"
      >
        Expert Level
      </button>
    </div>
  </div>
  <div class="course-items" *ngIf="courses.length > 0">
    <ng-container *ngFor="let course of courses">
      <app-course-item [courseData]="course" />
    </ng-container>
  </div>

  <div class="no-courses" *ngIf="courses.length == 0">
    There are currently no courses available. <br />
    Check back later!
  </div>
</div>
