<section class="contact-page">
  <div class="find-us">
    <div class="title">Find us at</div>
    <div class="options">
      <div class="option">
        <i class="fa-solid fa-envelope"></i>
        <div class="name">Email</div>
        <div class="value">kristiqn3456@gmail.com</div>
      </div>
      <div class="option">
        <i class="fa-solid fa-location-crosshairs"></i>
        <div class="name">Location</div>
        <div class="value">Petrich, Bulgaria</div>
      </div>
      <div class="option">
        <i class="fa-solid fa-phone"></i>
        <div class="name">Phone</div>
        <div class="value">012 345 6789</div>
      </div>
    </div>
  </div>
  <div class="separator">OR</div>
  <div class="find-us">
    <div class="title">Get in touch with us through this form</div>
    <form
      class="contact-form"
      #contactForm="ngForm"
      (ngSubmit)="submitContact(contactForm)"
    >
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Your name"
        ngModel
        required
      />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Your email adress"
        ngModel
        required
        [email]="true"
      />
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        placeholder="Your message"
        ngModel
        required
      ></textarea>
      <button type="submit" [disabled]="contactForm.invalid">
        Send Message
      </button>
    </form>
  </div>
</section>
