@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.contact-page {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.find-us {
  position: relative;
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #6291de;
  border-radius: 10px;
  gap: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.find-us .title {
  font-size: 30px;
  font-weight: 700;
}

.options {
  display: flex;
  gap: 100px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.option i {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
}

.option .name {
  font-weight: 700;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 70%;
  font-size: 30px;
  color: #6291de;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #6291de;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.contact-form {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact-form input {
  position: relative;
  border: none;
  outline: none;
  height: 40px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 15px;
  width: 100%;
}

.contact-form textarea {
  position: relative;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  resize: vertical;
  width: 100%;
}

.contact-form button {
  position: relative;
  width: 50%;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 10px;
  color: #6291de;
  border: 1px solid #6291de;
  font-size: 20px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.contact-form button:hover {
  color: white;
  border: 1px solid white;
  background-color: #6291de;
}

@media only screen and (max-width: 1000px) {
  .options {
    flex-direction: column;
    gap: 20px;
  }
  .find-us {
    width: 90%;
    text-align: center;
  }
  .separator {
    width: 90%;
  }
  .contact-form button {
    width: 100%;
  }
}
