<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/admin.css" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home | LinguaLearn</title>
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="" />
      <ul class="navlist">
        <li>
          <a href=""><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-book"></i> Courses</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-chalkboard-user"></i> Teachers</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-square-plus"></i> Create Course</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-file-signature"></i> Contact</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user"></i> {{USERNAME}}</a>
        </li>
        <!-- <li>
            <a href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-user-plus"></i> Register</a>
          </li> -->
        <li>
          <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
      </ul>

      <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </header>

    <!-- <div class="notifications">
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
    </div> -->

    <section class="admin-page">
      <div class="nav">
        <div class="title">Admin Panel</div>
        <a href=""><i class="fa-solid fa-table-cells-large"></i> Dashboard</a>
        <a href=""><i class="fa-solid fa-book-open-reader"></i> Courses</a>
        <a href=""><i class="fa-solid fa-users"></i> Users</a>
      </div>
      <div class="page">
        <!-- Dashboard -->
        <div class="title">Dashboard</div>
        <div class="stats">
          <div class="stat">
            <i class="fa-solid fa-user-graduate icon"></i>
            <div class="value">222</div>
            <div class="name">Students</div>
          </div>
          <div class="stat">
            <i class="fa-solid fa-book-open-reader icon"></i>
            <div class="value">222</div>
            <div class="name">Courses</div>
          </div>
          <div class="stat">
            <i class="fa-solid fa-user-tie icon"></i>
            <div class="value">222</div>
            <div class="name">Teachers</div>
          </div>
        </div>
        <div class="separator">LEVELS</div>
        <div class="stats">
          <div class="stat c">
            <div class="value">222</div>
            <div class="name">Entry Level</div>
          </div>
          <div class="stat c">
            <div class="value">222</div>
            <div class="name">Mid Level</div>
          </div>
          <div class="stat c">
            <div class="value">222</div>
            <div class="name">Advanced Level</div>
          </div>
          <div class="stat c">
            <div class="value">222</div>
            <div class="name">Expert Level</div>
          </div>
        </div>

        <!-- Courses -->
        <!-- <div class="title">Courses</div>
        <div class="search-courses">
          <input type="text" name="search" id="search" />
        </div>
        <div class="courses-admin">
          <div class="course-admin">
            <div class="name">English Course</div>
            <div class="teacher">Kristiyan Petsanov</div>
            <div class="level">Expert</div>
            <div class="capacity">50</div>
            <div class="date">2023-17-02</div>
            <div class="duration">6 months</div>
            <div class="actions">
              <a href="">Edit</a>
              <a href="">Delete</a>
              <a href="">Details</a>
            </div>
          </div>

          <div class="course-admin">
            <div class="name">English Course</div>
            <div class="teacher">Kristiyan Petsanov</div>
            <div class="level">Expert</div>
            <div class="capacity">50</div>
            <div class="date">2023-17-02</div>
            <div class="duration">6 months</div>
            <div class="actions">
              <a href="">Edit</a>
              <a href="">Delete</a>
              <a href="">Details</a>
            </div>
          </div>
        </div> -->

        <!-- Users -->
        <!-- <div class="title">Users</div>
        <div class="search-users">
          <input type="text" name="search" id="search" />
        </div>
        <div class="users-admin">
          <div class="user-admin">
            <div class="username">KrisBG</div>
            <div class="email">kristiqn3456@gmail.com</div>
            <div class="name">Kristiyan</div>
            <div class="name">Petsanov</div>
            <div class="role">Teacher</div>
            <div class="actions">
              <a href="">Edit</a>
              <a href="">Delete</a>
              <a href="">Profile</a>
            </div>
          </div>
          <div class="user-admin">
            <div class="username">KrisBG</div>
            <div class="email">kristiqn3456@gmail.com</div>
            <div class="name">Kristiyan</div>
            <div class="name">Petsanov</div>
            <div class="role">Teacher</div>
            <div class="actions">
              <a href="">Edit</a>
              <a href="">Delete</a>
              <a href="">Profile</a>
            </div>
          </div>
          <div class="user-admin">
            <div class="username">KrisBG</div>
            <div class="email">kristiqn3456@gmail.com</div>
            <div class="name">Kristiyan</div>
            <div class="name">Petsanov</div>
            <div class="role">Teacher</div>
            <div class="actions">
              <a href="">Edit</a>
              <a href="">Delete</a>
              <a href="">Profile</a>
            </div>
          </div>
        </div> -->
      </div>
      <div class="res-error">
        Screen Width above 1100px is required to display admin panel!
      </div>
    </section>

    <footer>
      <div class="contact-info">
        <div class="number"><i class="fa-solid fa-phone"></i> 012 345 6789</div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i> Petrich, Bulgaria
        </div>
        <div class="email">
          <i class="fa-solid fa-envelope"></i> kristiqn3456@gmail.com
        </div>
      </div>
      <div class="copyright">
        <span>&copy; 2023 LinguaLearn. All rights reserved.</span>
        <span
          >Designed & Developed by
          <a href="https://github.com/kristiyanpts">Kristiyan Petsanov</a></span
        >
      </div>
    </footer>

    <script src="../scripts/main.js"></script>
  </body>
</html>
