<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/details.css" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home | LinguaLearn</title>
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="" />
      <ul class="navlist">
        <li>
          <a href=""><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-book"></i> Courses</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-chalkboard-user"></i> Teachers</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-square-plus"></i> Create Course</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-file-signature"></i> Contact</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user"></i> {{USERNAME}}</a>
        </li>
        <!-- <li>
          <a href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user-plus"></i> Register</a>
        </li> -->
        <li>
          <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
      </ul>

      <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </header>

    <!-- <div class="notifications">
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
    </div> -->

    <section class="details-page">
      <div class="course-item">
        <div class="main-info">
          <div class="left-side">
            <img
              src="https://i0.wp.com/whizsmart.com/wp-content/uploads/2020/09/Spanish.jpg?fit=610%2C432&ssl=1"
              alt=""
            />
          </div>
          <div class="right-side">
            <div class="name">Spanish Course</div>
            <div class="desc-item">
              <div class="title">Teacher:</div>
              <div class="value"><a href="">Kristiyan Petsanov</a></div>
            </div>
            <div class="desc-item">
              <div class="title">Difficulty:</div>
              <div class="value">Mid Level</div>
            </div>
            <div class="desc-item">
              <div class="title">Course Size:</div>
              <div class="value">25</div>
            </div>
            <div class="desc-item">
              <div class="title">Spots:</div>
              <div class="value">14</div>
            </div>
            <div class="desc-item">
              <div class="title">Start Date:</div>
              <div class="value">25/02/2023</div>
            </div>
            <div class="desc-item">
              <div class="title">Duration:</div>
              <div class="value">6 months</div>
            </div>
          </div>
        </div>
        <div class="aditional-info">
          <div class="desc-item">
            <div class="title">Description</div>
            <div class="value">
              Mnogo interesen kurs ko da ti kajaMnogo interesen kurs ko da ti
              kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs ko da
              ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs ko
              da ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs
              ko da ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen
              kurs ko da ti kajaMnogo interesen kurs ko da ti kajaMnogo
              interesen kurs ko da ti kajaMnogo interesen kurs ko da ti
              kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs ko da
              ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs ko
              da ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs
              ko da ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen
              kurs ko da ti kajaMnogo interesen kurs ko da ti kajaMnogo
              interesen kurs ko da ti kajaMnogo interesen kurs ko da ti
              kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs ko da
              ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs ko
              da ti kajaMnogo interesen kurs ko da ti kajaMnogo interesen kurs
              ko da ti kajaMnogo interesen kurs ko da ti kaja
            </div>
          </div>
          <div class="desc-item">
            <div class="title">Schedule</div>
            <div class="schedules">
              <div class="schedule">1. Course Introduction</div>
              <div class="schedule">2. Spanish Basics</div>
              <div class="schedule">3. Spanish Advanced</div>
            </div>
          </div>
          <div class="desc-item">
            <div class="title">Students</div>
            <div class="students">
              <div class="student" href="">
                <span>Kristiyan Petsanov</span>
                <div class="user-controls">
                  <a href="" class="user-control">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                  <a href="" class="user-control">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </a>
                </div>
              </div>
              <div class="student" href="">
                <span>Kristiyan Petsanov</span>
                <div class="user-controls">
                  <a href="" class="user-control">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                  <a href="" class="user-control">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="controls">
          <a href="">Edit</a>
          <a href="">Delete</a>
          <!-- <a href="">Sign Up</a> -->
          <!-- <span>You have already signed up for this course!</span> -->
        </div>
      </div>
    </section>

    <footer>
      <div class="contact-info">
        <div class="number"><i class="fa-solid fa-phone"></i> 012 345 6789</div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i> Petrich, Bulgaria
        </div>
        <div class="email">
          <i class="fa-solid fa-envelope"></i> kristiqn3456@gmail.com
        </div>
      </div>
      <div class="copyright">
        <span>&copy; 2023 LinguaLearn. All rights reserved.</span>
        <span
          >Designed & Developed by
          <a href="https://github.com/kristiyanpts">Kristiyan Petsanov</a></span
        >
      </div>
    </footer>

    <script src="../scripts/main.js"></script>
  </body>
</html>
