<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home | LinguaLearn</title>
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="" />
      <ul class="navlist">
        <li>
          <a href=""><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-book"></i> Courses</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-chalkboard-user"></i> Teachers</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-square-plus"></i> Create Course</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-file-signature"></i> Contact</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user"></i> {{USERNAME}}</a>
        </li>
        <!-- <li>
            <a href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-user-plus"></i> Register</a>
          </li> -->
        <li>
          <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
      </ul>

      <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </header>

    <!-- <div class="notifications">
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
    </div> -->

    <section class="home-page">
      <div class="welcome-info">
        <div class="home-info">
          <div class="title">
            Learn your dream language fast, easy and free!
          </div>
          <div class="desc">
            Join our free courses and start learning your dream language today.
            Register to start!
          </div>
          <div class="controls">
            <a href="">Register</a>
            <a href="">Available Courses</a>
          </div>
        </div>
        <img src="../static/images/home-page.png" alt="" />
      </div>
      <div class="courses">
        <div class="title">Latest Courses</div>
        <div class="course-items">
          <div class="course">
            <img
              src="https://i0.wp.com/whizsmart.com/wp-content/uploads/2020/09/Spanish.jpg?fit=610%2C432&ssl=1"
              alt=""
            />
            <div class="course-info">
              <div class="name">Spanish Course</div>
              <div class="period">
                <div class="start">
                  <i class="fa-solid fa-circle-play"></i> 19-02-2023
                </div>
                <div class="duration">
                  <i class="fa-solid fa-clock"></i> 6 months
                </div>
              </div>
              <a href="">View More</a>
            </div>
          </div>
          <div class="course">
            <img
              src="https://i0.wp.com/whizsmart.com/wp-content/uploads/2020/09/Spanish.jpg?fit=610%2C432&ssl=1"
              alt=""
            />
            <div class="course-info">
              <div class="name">Spanish Course</div>
              <div class="period">
                <div class="start">
                  <i class="fa-solid fa-circle-play"></i> 19-02-2023
                </div>
                <div class="duration">
                  <i class="fa-solid fa-clock"></i> 6 months
                </div>
              </div>
              <a href="">View More</a>
            </div>
          </div>
          <div class="course">
            <img
              src="https://i0.wp.com/whizsmart.com/wp-content/uploads/2020/09/Spanish.jpg?fit=610%2C432&ssl=1"
              alt=""
            />
            <div class="course-info">
              <div class="name">Spanish Course</div>
              <div class="period">
                <div class="start">
                  <i class="fa-solid fa-circle-play"></i> 19-02-2023
                </div>
                <div class="duration">
                  <i class="fa-solid fa-clock"></i> 6 months
                </div>
              </div>
              <a href="">View More</a>
            </div>
          </div>
          <div class="course">
            <img
              src="https://i0.wp.com/whizsmart.com/wp-content/uploads/2020/09/Spanish.jpg?fit=610%2C432&ssl=1"
              alt=""
            />
            <div class="course-info">
              <div class="name">Spanish Course</div>
              <div class="period">
                <div class="start">
                  <i class="fa-solid fa-circle-play"></i> 19-02-2023
                </div>
                <div class="duration">
                  <i class="fa-solid fa-clock"></i> 6 months
                </div>
              </div>
              <a href="">View More</a>
            </div>
          </div>
          <div class="course">
            <img
              src="https://i0.wp.com/whizsmart.com/wp-content/uploads/2020/09/Spanish.jpg?fit=610%2C432&ssl=1"
              alt=""
            />
            <div class="course-info">
              <div class="name">Spanish Course</div>
              <div class="period">
                <div class="start">
                  <i class="fa-solid fa-circle-play"></i> 19-02-2023
                </div>
                <div class="duration">
                  <i class="fa-solid fa-clock"></i> 6 months
                </div>
              </div>
              <a href="">View More</a>
            </div>
          </div>
        </div>

        <!-- WHEN THERE ARE NO COURSES -->
        <!-- <div class="no-courses">
          There are currently no courses available. <br />
          Check back later!
        </div> -->

        <!-- LOADING BAR COMPONENT -->
        <!-- <div class="loading-bar">
          <svg viewBox="0 0 100 100">
            <g
              fill="none"
              stroke="#6291de"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="6"
            >
              <path d="M 21 40 V 59">
                <animateTransform
                  attributeName="transform"
                  attributeType="XML"
                  type="rotate"
                  values="0 21 59; 180 21 59"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M 79 40 V 59">
                <animateTransform
                  attributeName="transform"
                  attributeType="XML"
                  type="rotate"
                  values="0 79 59; -180 79 59"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M 50 21 V 40">
                <animate
                  attributeName="d"
                  values="M 50 21 V 40; M 50 59 V 40"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M 50 60 V 79">
                <animate
                  attributeName="d"
                  values="M 50 60 V 79; M 50 98 V 79"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
                <animate
                  attributeName="stroke"
                  values="rgba(98, 145, 222,1); rgba(98, 145, 222,0)"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z" />
              <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
                <animate
                  attributeName="stroke"
                  values="rgba(98, 145, 222,0); rgba(98, 145, 222,1)"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
              <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                values="0 0; 0 -19"
                dur="2s"
                repeatCount="indefinite"
              />
            </g>
          </svg>
          <span>Loading Courses</span>
        </div> -->
      </div>
    </section>

    <footer>
      <div class="contact-info">
        <div class="number"><i class="fa-solid fa-phone"></i> 012 345 6789</div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i> Petrich, Bulgaria
        </div>
        <div class="email">
          <i class="fa-solid fa-envelope"></i> kristiqn3456@gmail.com
        </div>
      </div>
      <div class="copyright">
        <span>&copy; 2023 LinguaLearn. All rights reserved.</span>
        <span
          >Designed & Developed by
          <a href="https://github.com/kristiyanpts">Kristiyan Petsanov</a></span
        >
      </div>
    </footer>

    <script src="../scripts/main.js"></script>
  </body>
</html>
