<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/teachers.css" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home | LinguaLearn</title>
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="" />
      <ul class="navlist">
        <li>
          <a href=""><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-book"></i> Courses</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-chalkboard-user"></i> Teachers</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-square-plus"></i> Create Course</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-file-signature"></i> Contact</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user"></i> {{USERNAME}}</a>
        </li>
        <!-- <li>
          <a href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </li>
        <li>
          <a href=""><i class="fa-solid fa-user-plus"></i> Register</a>
        </li> -->
        <li>
          <a href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
      </ul>

      <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </header>

    <!-- <div class="notifications">
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
      <div class="notification">
        <i class="fa-solid fa-circle-info"></i>
        <span
          >This is a test notificationThis is a test notificationThis is a test
          notificationThis is a test notificationThis is a test notificationThis
          is a test notification</span
        >
      </div>
    </div> -->

    <section class="teachers-page">
      <div class="teachers-info">
        <img src="../static/images/teacher-info.png" alt="" srcset="" />
        <div class="info">
          <div class="title">Meet the best teachers there is</div>
          <div class="desc">
            LinguaLearn has the best teachers there could be to help you improve
            your language skills and learn new things. You won't be disappointed
            from their teaching. Are you a qualified language teacher? If you
            are and you want to join our team and make peoples dream come true,
            click the button below!
          </div>
          <a href="">Start Teaching</a>
        </div>
      </div>
      <div class="teachers">
        <div class="title">Our Teachers</div>
        <div class="filters">
          <form class="filter-search">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Search by name"
            />
            <button type="submit">
              <i class="fa-solid fa-paper-plane"></i>
            </button>
          </form>
        </div>
        <div class="teacher-items">
          <div class="teacher">
            <img
              src="https://i.guim.co.uk/img/media/bc12099e16c5e0a7ed7b1e63687dac6dd71ff13b/305_331_2800_1680/master/2800.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=3d0d6772b03019da00428fe5537404b5"
              alt=""
            />
            <div class="teacher-info">
              <div class="name">Kristiyan Petsanov</div>
              <a href="">View Profile</a>
            </div>
          </div>
          <div class="teacher">
            <div class="teacher-image">
              <img
                src="https://i.guim.co.uk/img/media/bc12099e16c5e0a7ed7b1e63687dac6dd71ff13b/305_331_2800_1680/master/2800.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=3d0d6772b03019da00428fe5537404b5"
                alt=""
              />
            </div>
            <div class="teacher-info">
              <div class="name">Kristiyan Petsanov</div>
              <a href="">View Profile</a>
            </div>
          </div>
          <div class="teacher">
            <img
              src="https://www.masslive.com/resizer/kNl3qvErgJ3B0Cu-WSBWFYc1B8Q=/arc-anglerfish-arc2-prod-advancelocal/public/W5HI6Y4DINDTNP76R6CLA5IWRU.jpeg"
              alt=""
            />
            <div class="teacher-info">
              <div class="name">Kristiyan Petsanov</div>
              <a href="">View Profile</a>
            </div>
          </div>
          <div class="teacher">
            <img
              src="https://engineering.unl.edu/images/staff/Kayla-Person.jpg"
              alt=""
            />
            <div class="teacher-info">
              <div class="name">Kristiyan Petsanov</div>
              <a href="">View Profile</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="contact-info">
        <div class="number"><i class="fa-solid fa-phone"></i> 012 345 6789</div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i> Petrich, Bulgaria
        </div>
        <div class="email">
          <i class="fa-solid fa-envelope"></i> kristiqn3456@gmail.com
        </div>
      </div>
      <div class="copyright">
        <span>&copy; 2023 LinguaLearn. All rights reserved.</span>
        <span
          >Designed & Developed by
          <a href="https://github.com/kristiyanpts">Kristiyan Petsanov</a></span
        >
      </div>
    </footer>

    <script src="../scripts/main.js"></script>
  </body>
</html>
