<section class="details-page">
  <div class="course-item" *ngIf="!isInfoLoading">
    <div class="main-info">
      <div class="left-side">
        <img src="{{ course?.image }}" alt="{{ course?.name }}" />
      </div>
      <div class="right-side">
        <div class="name">{{ course?.name }}</div>
        <div class="desc-item">
          <div class="title">Teacher:</div>
          <div class="value">
            <a routerLink="/user/{{ teacherInfo.id }}">{{
              teacherInfo.name
            }}</a>
          </div>
        </div>
        <div class="desc-item">
          <div class="title">Difficulty:</div>
          <div class="value">{{ course?.level | titlecase }} Level</div>
        </div>
        <div class="desc-item">
          <div class="title">Course Size:</div>
          <div class="value">{{ course?.capacity }}</div>
        </div>
        <div class="desc-item">
          <div class="title">Spots:</div>
          <div class="value">
            {{ spotsLeft == 0 ? "Full" : spotsLeft }}
          </div>
        </div>
        <div class="desc-item">
          <div class="title">Start Date:</div>
          <div class="value">{{ course?.date }}</div>
        </div>
        <div class="desc-item">
          <div class="title">Duration:</div>
          <div class="value">{{ course?.duration }}</div>
        </div>
      </div>
    </div>
    <div class="aditional-info">
      <div class="desc-item">
        <div class="title">Description</div>
        <div class="value">{{ course?.description }}</div>
      </div>
      <div class="desc-item">
        <div class="title">Schedule</div>
        <div class="schedules">
          <ng-container *ngFor="let lesson of course?.schedule; let i = index">
            <div class="schedule">
              <div class="name">{{ i + 1 }}. {{ lesson.lessonName }}</div>
              <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                {{ lesson.lessonDate }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="desc-item" *ngIf="areThereStudents">
        <div class="title">Students</div>
        <div class="students">
          <ng-container *ngFor="let student of course?.students">
            <div class="student">
              <span>{{ student.firstName }} {{ student.lastName }}</span>
              <div class="user-controls">
                <a
                  class="user-control"
                  *ngIf="canManageCourse"
                  (click)="removeStudent(student._id)"
                >
                  <i class="fa-solid fa-trash"></i>
                </a>
                <a routerLink="/user/{{ student?._id }}" class="user-control">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="controls" *ngIf="isUser">
      <ng-container *ngIf="canManageCourse">
        <a routerLink="/courses/{{ course?._id }}/edit">Edit</a>
        <a (click)="deleteCourse()">Delete</a>
      </ng-container>

      <a (click)="signUpForCourse()" *ngIf="canSignUpForCourse && spotsLeft > 0"
        >Sign Up</a
      >

      <span *ngIf="!canSignUpForCourse && !canManageCourse"
        >You have already signed up for this course!</span
      >
    </div>
  </div>

  <app-loader [title]="'Loading details'" *ngIf="isInfoLoading" />
</section>
