.home-page {
  position: relative;
  width: 100%;
  height: fit-content;
}

.welcome-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6291de;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-info {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
}

.home-info .title {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.home-info .desc {
  font-size: 20px;
}

.home-info .controls {
  display: flex;
  gap: 30px;
}

.controls a {
  position: relative;
  width: fit-content;
  height: 50px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #6291de;
  border: 1px solid #6291de;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.controls a:hover {
  color: white;
  border: 1px solid white;
  background-color: #6291de;
}

@media only screen and (max-width: 1300px) {
  .welcome-info img {
    display: none;
  }
  .home-info {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .home-info .title {
    font-size: 25px !important;
  }
  .home-info .desc {
    font-size: 16px !important;
  }
  .home-info .controls a {
    font-size: 16px !important;
  }
}
