.create-page {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.create-form {
  position: relative;
  width: 800px;
  height: fit-content;
  background-color: #6291de;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  transition: 0.3s all ease;
}

.create-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.input-field {
  position: relative;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-field input,
.input-field select {
  position: relative;
  border: none;
  outline: none;
  height: 35px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 5px;
}

.input-field select {
  height: 39px;
}

.input-field option {
  color: black;
}

.input-field textarea {
  position: relative;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 5px;
  padding-top: 5px;
  font-family: "Inter", sans-serif;
  resize: vertical;
  width: 740px;
}

.full-length {
  width: 750px;
}

.create-form button {
  position: relative;
  width: 35%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  color: #6291de;
  border: 1px solid #6291de;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.create-form button:hover {
  background-color: #6291de;
  color: white;
  border: 1px solid white;
}

@media only screen and (max-width: 1000px) {
  .create-form {
    width: 330px;
  }
  .input-field textarea {
    width: 320px;
  }
  .create-form button {
    width: 250px;
  }
}
