.profile-page {
  position: relative;
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  position: relative;
  width: 1000px;
  height: fit-content;
  background-color: #6291de;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s all ease;
  gap: 30px;
}

.profile .left-side {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.profile .right-side {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.left-side img {
  width: 200px;
  border-radius: 5px;
}

.left-side .username {
  font-size: 30px;
  font-weight: 700;
}

.right-side .title {
  font-size: 25px;
  font-weight: 700;
}

.info-block {
  position: relative;
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  .profile {
    width: 700px;
  }
}

@media only screen and (max-width: 760px) {
  .profile {
    flex-direction: column;
    width: 360px;
  }
  .left-side {
    width: 90% !important;
  }
  .right-side {
    width: 100% !important;
  }
}
