.teachers-page {
  position: relative;
  width: 100%;
  height: fit-content;
}

.teachers-info {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6291de;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}

.teachers-info img {
  width: 20%;
}

.teachers-info .info {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.teachers {
  position: relative;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6291de;
  gap: 20px;
}

.teachers .title {
  font-size: 35px;
  font-weight: 700;
}

.teachers .filters {
  position: relative;
  display: flex;
  gap: 20px;
  width: 700px;
  height: fit-content;
  flex-direction: column;
}

.teacher-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
}

.teacher {
  position: relative;
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #6291de;
  background-color: #6291de;
  color: white;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
}

.teacher .teacher-image {
  position: relative;
  width: 300px;
  height: 300px;
}

.teacher img {
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 10px;
}

.teacher .teacher-info {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.teacher-info .name {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.teacher-info a {
  position: relative;
  width: 95%;
  height: 40px;
  text-decoration: none;
  color: #6291de;
  border: 1px solid #6291de;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s all ease;
}

.teacher-info a:hover {
  color: white;
  border: 1px solid white;
  background-color: #6291de;
}

@media only screen and (max-width: 1300px) {
  .teachers-info img {
    display: none;
  }

  .teachers-info .info {
    width: 500px;
    align-items: center;
    text-align: center;
  }
}
