<section class="profile-page">
  <ng-container *ngIf="!isDataLoading">
    <div class="profile">
      <div class="left-side">
        <img src="{{ user?.image }}" alt="Profile Picture" />
        <span class="username">{{ user?.username }}</span>
      </div>
      <div class="right-side">
        <div class="title">Profile Information</div>
        <div class="info-block">
          <span>Email</span>
          <span>{{ user?.email }}</span>
        </div>
        <div class="info-block">
          <span>Full Name</span>
          <span>{{ user?.firstName }} {{ user?.lastName }}</span>
        </div>
        <div class="info-block">
          <span>Role</span>
          <span>{{ user?.role | titlecase }}</span>
        </div>
        <div class="info-block" *ngIf="user?.role == 'teacher'">
          <span>Courses Teaching</span>
          <span>{{ user?.courses?.length }}</span>
        </div>
      </div>
    </div>

    <app-courses
      [showHeader]="false"
      [isLimited]="false"
      [title]="courseTitle"
      [isUser]="true"
      [userCourses]="user?.courses || []"
      *ngIf="user?.role == 'teacher'"
    />
  </ng-container>

  <app-loader [title]="'loading profile'" *ngIf="isDataLoading" />
</section>
