<div
  class="courses"
  [ngStyle]="{ 'padding-top': !showHeader ? '30px' : '0px' }"
>
  <app-courses-header style="width: 100%" *ngIf="showHeader" />

  <div class="title">Latest Courses</div>
  <div class="filters" *ngIf="showHeader && courses.length > 0">
    <form class="filter-search">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search by name"
      />
      <button type="submit">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </form>
    <div class="separator">OR</div>
    <div class="level-filters">
      <button>All Courses</button>
      <button>Entry Level</button>
      <button>Mid Level</button>
      <button>Advanced Level</button>
      <button>Expert Level</button>
    </div>
  </div>
  <div class="course-items" *ngIf="courses.length > 0">
    <ng-container *ngFor="let course of courses">
      <app-course-item [courseData]="course" />
    </ng-container>
  </div>

  <div class="no-courses" *ngIf="courses.length == 0">
    There are currently no courses available. <br />
    Check back later!
  </div>
</div>
